# 108-2 Data Mining
## Homework #2 : Data Preprocessing
## Instructor: Hsueh-Chan Lu
## Submitted by: Carlo D. Pastoral
## Student ID: N26087048

In this homework, I am going to use **pandas**, **numpy** and **scipy** libraries for **data preprocessing**.

In this preprocessing, I will be using a collection of data from top trending youtube videos that are being watched in the region of US.  

This dataset was downloaded from kaggle (https://www.kaggle.com/datasnaek/youtube-new)

In [33]:
import pandas as pd 
import numpy as np
import json
import pprint
from scipy import stats
from collections import  Counter
from scipy.stats import entropy

First, let us open the dataset using pandas.

In [34]:
data = pd.read_csv('Data/USvideos.csv')

Let us get 10 random and unchange sample and print it

In [35]:
samples = data.sample(n=10)
samples

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
28095,AsTdC2RToIA,18.05.04,I Followed A James Charles' Makeup Tutorial,LaurDIY,26,2018-03-25T16:00:01.000Z,"DIY|""do it yourself""|""how to""|""laurDIY""|""laure...",2325254,91402,1143,9182,https://i.ytimg.com/vi/AsTdC2RToIA/default.jpg,False,False,False,✂ click to join the #prettylittlelaurs fam!! h...
13284,0eUk_VN3e2A,18.21.01,ASMR Lushful Spa Treatment ✨ Facial and Massage,ASMR Darling,24,2018-01-17T03:24:25.000Z,"taylor darling|""asmr darling""|""tingles""|""spa""|...",1060991,28364,1791,7731,https://i.ytimg.com/vi/0eUk_VN3e2A/default.jpg,False,False,False,Hello beautiful people! Sit back and enjoy the...
3627,tuONqBMf3XA,17.02.12,Alexa Chung Fears for Her Life While Eating Sp...,First We Feast,26,2017-11-30T16:00:05.000Z,"First we feast|""fwf""|""firstwefeast""|""food""|""fo...",629474,21298,1196,3615,https://i.ytimg.com/vi/tuONqBMf3XA/default.jpg,False,False,False,Alexa Chung is one of the Hot Ones muses. Back...
34282,yAqHUwjnue4,18.12.05,Roma vs. Liverpool | 2017-18 UEFA Champions Le...,FOX Soccer,17,2018-05-02T21:58:41.000Z,"uefa champions league|""uefa""|""roma""|""as roma""|...",571624,3628,201,1064,https://i.ytimg.com/vi/yAqHUwjnue4/default.jpg,False,False,False,Watch highlights between AS Roma and Liverpool...
22678,cIkEjFiUqwU,18.09.03,Reverend Billy Graham's Funeral | NBC News,NBC News,25,2018-03-02T20:24:58.000Z,"nbc news|""breaking news""|""us news""|""world news...",466160,5360,1164,0,https://i.ytimg.com/vi/cIkEjFiUqwU/default.jpg,True,False,False,Thousands gather for a funeral service at the ...
38343,Kc6CIwBVo5s,18.01.06,Hawaiian lava flows ‘faster than a turtle’,ABC News (Australia),25,2018-05-07T22:34:57.000Z,"Australia|""Kilauea""|""Hawai'i""|""Hawaii""|""Leilan...",9913561,48648,3813,0,https://i.ytimg.com/vi/Kc6CIwBVo5s/default.jpg,True,False,False,Dozens of homes have been destroyed by Hawaii'...
15558,LIEOeqNRikk,18.01.02,American vs. Brit,Oscar Fury,20,2018-01-26T19:37:39.000Z,[none],21199,151,12,10,https://i.ytimg.com/vi/LIEOeqNRikk/default.jpg,False,False,False,Google Home couldn't settle our relationship l...
17203,K3ZwxsTOD_8,18.10.02,Horton Hears a Who - Nostalgia Critic,Channel Awesome,24,2018-02-07T23:00:01.000Z,"channel awesome|""nostalgia critic""|""doug walke...",650581,23538,1002,4743,https://i.ytimg.com/vi/K3ZwxsTOD_8/default.jpg,False,False,False,"The Dr. Seuss movies have been pretty bad, but..."
5253,a9B4AgwYG4E,17.10.12,Idol EXPOSES Dark Side of KPOP | STORYTIME exp...,Henry Prince Mak,22,2017-12-09T16:28:01.000Z,"kpop|""kpop idols""|""kpop idol""|""jjcc""|""prince m...",35704,8147,43,560,https://i.ytimg.com/vi/a9B4AgwYG4E/default.jpg,False,False,False,Video on WHY I LEFT KPOP https://youtu.be/QRm1...
39275,9NC2saE5MbQ,18.06.06,Camels vs. Cactus!!! جمل,camelsandfriends,15,2018-05-23T13:33:03.000Z,"camels|""cactus""|""pets""|""livestock""|""animals""|""...",5307153,29203,4274,14548,https://i.ytimg.com/vi/9NC2saE5MbQ/default.jpg,False,False,False,Dromedary camels tear through prickly pear cac...

Now we've seen the random 10 samples from the dataset.

Let us select 5 attributes from these 10 samples. Two numerical and 3 categorical attributes.

For two numerical attributes, let us select **views** and **likes** columns.
For the three categorical attributes, let us select **comments_disabled**, **ratings_disabled** and **category_id**

In these five attributes, **comments_disabled** and **ratings_disabled** are Nominal Data. **category_id** can be also considered as Nominal Data.
While **views** and **likes** are Continuous Data.

Let us treat **category_id** as the target attribute.

In [36]:
new_df = pd.DataFrame(samples, columns = ['views','likes','comments_disabled','ratings_disabled','category_id'])
new_df

         views  likes  comments_disabled  ratings_disabled  category_id
28095  2325254  91402              False             False           26
13284  1060991  28364              False             False           24
3627    629474  21298              False             False           26
34282   571624   3628              False             False           17
22678   466160   5360               True             False           25
38343  9913561  48648               True             False           25
15558    21199    151              False             False           20
17203   650581  23538              False             False           24
5253     35704   8147              False             False           22
39275  5307153  29203              False             False           15

We can see that our new table has no incomplete, noisy or inconsistent value.

Let us take a look what are the categories that are being represented by category_id.

In [37]:
with open('Data/US_category_id.json') as f:
    data = json.load(f)
  
    categories = {}
    for item in data['items']:
        categories[item['id']] = item['snippet']['title']
print("Total number of category: {0}".format(len(categories)))
categories

Total number of category: 32

{'1': 'Film & Animation',
 '2': 'Autos & Vehicles',
 '10': 'Music',
 '15': 'Pets & Animals',
 '17': 'Sports',
 '18': 'Short Movies',
 '19': 'Travel & Events',
 '20': 'Gaming',
 '21': 'Videoblogging',
 '22': 'People & Blogs',
 '23': 'Comedy',
 '24': 'Entertainment',
 '25': 'News & Politics',
 '26': 'Howto & Style',
 '27': 'Education',
 '28': 'Science & Technology',
 '29': 'Nonprofits & Activism',
 '30': 'Movies',
 '31': 'Anime/Animation',
 '32': 'Action/Adventure',
 '33': 'Classics',
 '34': 'Comedy',
 '35': 'Documentary',
 '36': 'Drama',
 '37': 'Family',
 '38': 'Foreign',
 '39': 'Horror',
 '40': 'Sci-Fi/Fantasy',
 '41': 'Thriller',
 '42': 'Shorts',
 '43': 'Shows',
 '44': 'Trailers'}

Now let us compute the Pearson Correlation Coefficient for the two numerical attributes, views and likes.

First let us create a temporary dataframe for views and likes attributes.

In [38]:
num_attrib = pd.DataFrame(new_df, columns = ['views', 'likes'])


Now, we can calculate the Pearson Correlation Coefficient using Pandas function:  dataframe.corr(method='pearson')

In [39]:
num_attrib.corr(method = 'pearson')

          views     likes
views  1.000000  0.472023
likes  0.472023  1.000000

Looking at the calculation result, we can say that since we've got a positive values, views and likes attributes are positively correlated to each other.

Now let us move on by calculating the Chi-Square Value for the two categorical evaluated attributes, comments_disabled and ratings_disabled.

First let us create a crosstab of the two attributes.

In [40]:
crosstab = pd.crosstab(new_df['comments_disabled'],new_df['ratings_disabled'])
crosstab

ratings_disabled   False
comments_disabled
False                  8
True                   2

Now, using the crosstab we can calculate the chi-square value usinf scipy's stats.chi2_contingency(crosstab) function

In [41]:
chi2,p_value,dof,freqs = stats.chi2_contingency(crosstab)
chi2

0.0

chi2 tells the discrepancies between the expected and the actual result.

Since we've got 0 or pretty low result, it means that there are no or low correlation between these two categories

Now let us normalize the numerical attributes to new value range 0,1 using min-max normalization.

In [42]:
def normalize(col):
    min = np.min(col)
    max = np.max(col)
    range = max - min

    return [(item - min) / range for item in col]
new_df['views'], new_df['likes'] = normalize(new_df['views']), normalize(new_df['likes'])
new_df

          views     likes  comments_disabled  ratings_disabled  category_id
28095  0.232913  1.000000              False             False           26
13284  0.105111  0.309180              False             False           24
3627   0.061489  0.231745              False             False           26
34282  0.055641  0.038104              False             False           17
22678  0.044980  0.057084               True             False           25
38343  1.000000  0.531468               True             False           25
15558  0.000000  0.000000              False             False           20
17203  0.063623  0.256293              False             False           24
5253   0.001466  0.087626              False             False           22
39275  0.534347  0.318375              False             False           15

Now let us let us apply Equal-Width Binning to partition our numerical attributes into Low, Medium and High.

In [43]:
new_df['views'], new_df['likes']  = pd.cut(new_df['views'],3, labels=["Low","Medium","High"]),  pd.cut(new_df['likes'],3, labels=["Low","Medium","High"])
new_df

        views   likes  comments_disabled  ratings_disabled  category_id
28095     Low    High              False             False           26
13284     Low     Low              False             False           24
3627      Low     Low              False             False           26
34282     Low     Low              False             False           17
22678     Low     Low               True             False           25
38343    High  Medium               True             False           25
15558     Low     Low              False             False           20
17203     Low     Low              False             False           24
5253      Low     Low              False             False           22
39275  Medium     Low              False             False           15

For the last part, let us calculate the Information Gains of Likes and Views. We will disregard the other two evaluated attributes because they have the same values. 

First let us calculate the entropy for category_id

In [44]:
pd_target_attr_category_id = Counter(new_df['category_id'])
p = []
for key,val in pd_target_attr_category_id.items():
    p.append(val/10)

entropy_target_attr_category_id = entropy(p,base=2)
entropy_target_attr_category_id

2.7219280948873625

Now let us get the entropies of level of views vs category_id.


First let us create a cross tab of the two attributes and visualize how many and which categories falls in the 3 levels of views (Low, Medium, High).

In [45]:
ct = pd.crosstab(new_df['views'],new_df['category_id'])
ct

category_id  15  17  20  22  24  25  26
views
Low           0   1   1   1   2   1   2
Medium        1   0   0   0   0   0   0
High          0   0   0   0   0   1   0

Now let us get the entropies of categories for each view level

In [46]:
num_view_labels = max(ct.count())
view_level_Pds = []
for view_label in range(num_view_labels):
    temp = []
    for label,content in ct.iteritems():
        temp.append(content[view_label]/len(pd_target_attr_category_id))
    view_level_Pds.append(temp)
entropy_category_vs_views = []
for arr in view_level_Pds:
    entropy_category_vs_views.append(entropy(arr,base=2))
entropy_category_vs_views

[2.5, 0.0, 0.0]

In [47]:
view_levels = Counter(new_df['views'])

sum_views_entropy  = 0
idx = 0
for key,val in view_levels.items():
    sum_views_entropy = sum_views_entropy+(val/10)*entropy_category_vs_views[idx]
    idx = idx+1
information_gain = entropy_target_attr_category_id-sum_views_entropy
print("Views vs category information gain is:")
information_gain

Views vs category information gain is:

0.7219280948873625

Now, let us do the same for the likes attribure.

In [48]:
ct2 = pd.crosstab(new_df['likes'],new_df['category_id'])

num_likes_labels = max(ct2.count())
likes_level_Pds = []
for likes_label in range(num_likes_labels):
    temp = []
    for label,content in ct2.iteritems():
        temp.append(content[likes_label]/len(pd_target_attr_category_id))
    likes_level_Pds.append(temp)
entropy_category_vs_likes = []
for arr in likes_level_Pds:
    entropy_category_vs_likes.append(entropy(arr,base=2))

likes_levels = Counter(new_df['likes'])
sum_likes_entropy  = 0
idx = 0
for key,val in likes_levels.items():
    sum_likes_entropy = sum_likes_entropy+(val/10)*entropy_category_vs_likes[idx]
information_gain = entropy_target_attr_category_id-sum_likes_entropy
print("Likes vs category information gain is:")
information_gain

Likes vs category information gain is:

-0.028071905112637463

Now we can say that the views attribute is more important than likes because it has larger information gain.